@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap');

html,
body {
    font-family: 'Source Sans Pro', serif;
    background-color: lightgrey;
}


.topsection,
.bottomsection {
    margin-top: 30px;
    border-radius: 20px;
    padding: 25px;
    text-align: center;

}

/* NAVBAR*/

.navbar,
.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Standard Colors*/

.bgblue {
    background-color: #0B3D91;
}

.bgorange {
    background-color: #FC3D21;
}

.clrblue {
    color: #0B3D91;
}

.clrorange {
    color: #FC3D21;
}

.clrwhite {
    color: white;
}

/* ASTRONOMY PHOTO OF THE DAY*/

#apod {
    display: none;
}

#apodImg {
    width: 100%;
}

.modalbg {
    background-color: RGBA(11, 61, 145, 0.8);
}

/* EPIC */

#epic {
    position: relative;
    /*display: none;*/
}

#epicImg {
    max-width: 100%;
}

#epicExplanation {
    position: absolute;
    right: 25px;
    top: 10px;
    cursor: pointer;
}

/* MARS ROVERS*/

#mars {
    display: none;
}
